#main {
    position: static;
    height: 100%;
}

#sumup {
    display: inline-block;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-top: 1%;
}

#titledonut {
    position: absolute;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background-color: #f2e9e4;
}

#svgsumup {
    border-radius: 25px;
    position: relative;
    padding-top: 2%;
    width: 100%;
    background-color: #f2e9e4;
}

#graphic {
    border-radius: 25px;
    position: static;
    display: flex;
    height: 100%;
    background-color: #f2e9e4;
}

#sections {
    position: relative;
    display: inline-block;
    width: 25%;
    margin-top: 10%;
    z-index: 0;
}

#svgSections {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 0;
}

#grpSections {
    text-align: center;
}

.step {
    margin: auto;
}

#vis {
    border-radius: 25px;
    position: sticky;
    top: 0;
    /* height: 100%; */
    width: 75%;
    height: 100%;
    margin-top: 5%;
    margin-left: 5%;
    background-color: rgba(216, 237, 238, 0.288);
}

#visSvgMain {
    display: block;
    position: absolute;
    padding-bottom: 10px;
    width: 100%;
    height: 100vh;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

text {
    font-family: 'Quicksand', sans-serif;
}

#title {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

/* #visGroupMain{

} */