#graphic {
    padding-top: 1%;
  }  

#sections {
    position: relative;
    display: inline-block;
    width: 20%;
    margin-top: 10%;
    z-index: 0;
}

#svgSections {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 400px;
    z-index: 0;
}

#grpSections {
    margin-top: 20px;
    text-align: center;
}

.step {
    margin: auto;
}

#vis {
    display: inline-block;
    position: fixed;
    margin-left: 80px;
    width: 75%;
    height: 93%;
    /* width: 75%;
    height: 95%; */
    background-color: rgba(216, 237, 238, 0.288);
}

#visSvgMain{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
    display: inline-block;
    position: relative;
    padding-bottom:10px;
    margin: auto;
    margin-top: 5px;
    height: 100%;
    width: 95%;
}

text {
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

/* #visGroupMain{

} */

